// Шрифты
$primary-font: "Lato", arial, sans-serif;
$second-font: "Oswald", arial, sans-serif;

// Цвета шрифтов
$primary-color-text: #444444;
$second-color-text: #000000;

// Цвета задних фонов
$primary-background-color: #ffffff;
$secondary-background-color: #f2f2f2;
$any-background-color: #eaeaea;

// Цвета фона кнопок
$primary-button-color: #68b738;
$second-button-color: #f2f2f2;
