// Шрифты
$primary-font: "Lato", arial, sans-serif;
$second-font: "Oswald", arial, sans-serif;

// Цвета шрифтов
$primary-color-text: #ffffff;
$second-color-text: #000000;
$any-color-text: #444444;

// Цвета задних фонов
$primary-background-color: #ffffff;
$secondary-background-color: #f2f2f2;
$any-background-color: #eaeaea;
$image-background-color: #68b738;

// Цвета фона кнопок
$primary-button-color: #68b738;
$second-button-color: #f2f2f2;


// viewport
$mobile: 767px;
$tablet: 768px;
$desktop: 1440px;
