.examples__container {
  @media (max-width: calc($tablet - 1px)) {
    padding: 21px 20px 40px;
  }

  @media (min-width: $tablet) {
    padding: 45px 30px 101px;
  }

  @media (min-width: $desktop) {
    width: 1220px;
    margin: -26px auto 0;
    padding: 0;
  }
}


.examples__title {
  @include secondary-font(36px, 40px);
  color: $second-color-text;

  @media (max-width: calc($tablet - 1px)) {
    margin-bottom: 40px;
  }

  @media (min-width: $tablet) {
    margin-bottom: 60px;
    font-size: 60px;
    line-height: 60px;
    margin-top: 0;
  }

  @media (min-width: $desktop) {
    margin-bottom: 146px;
    font-size: 60px;
    line-height: 60px;
    margin-top: 50px;
  }
}


.examples__price {
  @include secondary-font(21px, 20px, uppercase);
  color: $second-color-text;
  display: flex;
  gap: 150px;


  @media (min-width: $tablet) {
    margin-left: 50px;
    gap: 0;
    margin-top: -80px;
    padding-bottom: 85px;
    padding-left: 70%;
    display: block;
    font-size: 20px;
    min-width: 708px;
    line-height: 28px;
  }

  @media (min-width: $desktop) {
    padding-left: 0;
    display: flex;
    margin-top: 0;
    margin-bottom: 0;
    margin-left: 0;
    line-height: 20px;
    font-size: 21px;
    padding-bottom: 80px;
  }

  @media (max-width: $mobile) {
    display: block;
    text-align: center;
    font-size: 14px;
    line-height: 12px;
    margin-bottom: 25px;
  }
}

.examples__item {
  @include clean-list;
  @include clean-text;
}


.examples__description {
  margin: 0;

  @media (max-width: ($tablet - 1px)) {
    margin-bottom: 20px;
  }

  @media (min-width: $tablet) {
    margin-bottom: 55px;
    font-size: 16px;
    line-height: 24px;
    min-width: 708px;
  }

  @media (min-width: $desktop) {
    max-width: 436px;
    margin-bottom: 69px;
    font-size: 16px;
    line-height: 24px;
    min-height: 72px;
    min-width: 100px;
  }
}

.examples__statistics {
  @media (min-width: $tablet) {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    max-width: 800px;
  }

  @media (min-width: $desktop) {
    margin-bottom: 42px;
  }
}


.examples__statistics-list {
  @media (max-width: $mobile) {
    padding: 0;
    display: flex;
    gap: 30px;
    margin: 0;
  }

  @media (min-width: $desktop) {
    padding: 0;
    display: flex;
    gap: 43px;
    margin: 0;
  }

  @media (min-width: $tablet) {
    padding: 0;
    display: flex;
    gap: 43px;
    margin: 0;
  }
}


.examples {
  position: relative;

  @media (min-width: $tablet) {
    background-image: linear-gradient(0deg, #eaeaea 456px, #ffffff 456px 100%);
  }

  @media (min-width: $desktop) {
    background-image: linear-gradient(#ffffff 136px, #eaeaea 136px 100%);
  }

  @media (max-width: $mobile) {
    background-image: linear-gradient(#ffffff 4%, #eaeaea 1%);
  }
}


.examples__slider {
  @media (min-width: $tablet) {
    width: 560px;
    margin: auto;
    top: 6px;
    left: 7px;
  }

  @media (min-width: $desktop) {
    position: absolute;
    top: 0;
    right: 102px;
    left: auto;
  }

  @media (max-width: $mobile) {
    width: 280px;
    margin: 0 auto;
  }
}

.examples__slider-fat-cat {
  overflow: hidden;
}


.examples__slider-thin-cat {
  overflow: hidden;
}

.examples__price-value {
  @media (max-width: $mobile) {
    position: relative;
    margin-left: 0;
  }

  @media (min-width: $tablet) {
    margin-left: 84px;
  }

  @media (min-width: $desktop) {
    margin-left: 56px;
  }
}
