.main-header__wrapper {
  position: relative;

  @media (min-width: $tablet) {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    margin: 25px 30px 0;
  }

  @media (min-width: $desktop) {
    width: 1220px;
    margin: 55px auto 0;
  }
}

.main-navigation {
  @media (min-width: $tablet) {
    width: 65%;
  }

  @media (min-width: $desktop) {
    width: 50%;
  }
}


.logo-text:active {
  opacity: 0.6;
}

.main-navigation__list {
  flex-wrap: wrap;
  justify-content: flex-end;
  gap: 10px 33px;
  display: flex;
}


.main-header {
  margin: 15px;

  @media (max-width: $mobile) {
    margin: 12px 0 15px 19px;
  }

  @media (min-width: $tablet) {
    margin: 0;
  }
}
