.logo-html {
  @include clean-list;
  @include clean-text;
}

.logo-html__text {
  color: $any-color-text;
  font-size: 16px;
  line-height: 20px;
}

.logo-html::after {
  display: block;
  content: "";
  width: 27px;
  height: 34px;
  mask-image: url("../../icons/stack.svg#logo-html");
  mask-repeat: no-repeat;
  background-color: #666666;
}

.logo-html:focus::after,
.logo-html:hover::after {
  background-color: $primary-button-color;
}

.logo-html:active::after {
  opacity: 0.3;
}

.logo-html__text:active {
  opacity: 0.3;
}
