.logo {
  display: flex;
  align-items: center;
  text-decoration: none;
  gap: 15px;

  @media (max-width: $mobile) {
    justify-content: space-between;
    width: calc(100% - 44px);
  }
}

.logo__text {
  margin-left: 56px;
  width: 101px;
  height: 18px;
}


.logo__image:hover,
.logo__image:focus {
  opacity: 0.8;
}

.logo__image:active {
  opacity: 0.6;
}
