.main-catalog__item-link {
  @include clean-list;
  @include clean-text;
}

.main-catalog__item-title {
  @include secondary-font(16px, 20px);
  color: $second-color-text;
  text-transform: uppercase;
  min-height: 40px;
  margin: 0;
  font-weight: 400;
  line-height: 20px;

  @media (max-width: ($mobile)) {
    width: 70%;
  }

  @media (min-width: ($tablet - 1px)) {
    margin-bottom: 41px;
    padding: 0 20px;
  }

  @media (min-width: $tablet) {
    text-align: center;
    width: 75%;
    margin: 20px auto 15px;
    font-size: 20px;
    line-height: 26px;
  }

  @media (min-width: $desktop) {
    width: 100%;
    padding: 0 16px;
    margin-bottom: 20px;
    line-height: 25px;
    margin-top: 9px;
  }
}

.main-catalog__card-price {
  text-align: right;

  @media (max-width: $mobile) {
    font-size: 12px;
    line-height: 13px;
  }
}

.main-catalog__image-card:hover,
.main-catalog__image-card:focus {
  opacity: 0.7;
  transition: all 0.3s;
}

.main-catalog__image-card:active {
  opacity: 0.3;
  transition: all 0.3s;
}

.main-catalog__item-title:hover,
.main-catalog__item-title:focus {
  opacity: 0.5;
  transition: all 0.3s;
}

.main-catalog__item-title:active {
  opacity: 0.3;
  transition: all 0.3s;
}
