.main-catalog__title {
  @include secondary-font(36px, 36px);
  color: $second-color-text;
  margin: 0;

  @media (max-width: calc($tablet - 1px)) {
    margin-bottom: 41px;
  }

  @media (min-width: $tablet) {
    margin-bottom: 84px;
  }
}

.main-catalog__card-list {
  @include clean-list;
  @include clean-text;

  @media (max-width: calc($tablet - 1px)) {
    min-height: 209px;
  }
}

.main-catalog__list {
  @include clean-list;
  @include clean-text;
  padding-left: 0;

  @media (min-width: $tablet) {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 60px;
  }

  @media (min-width: $desktop) {
    grid-template-columns: 1fr 1fr 1fr 1fr;
    row-gap: 80px;
  }
}

.main-catalog {
  @media (max-width: calc($tablet - 1px)) {
    padding: 27px 20px 25px;
  }

  @media (min-width: $tablet) {
    padding: 65px 30px 74px;
  }

  @media (min-width: $desktop) {
    width: 1220px;
    margin: 74px auto 40px;
    padding: 0;
  }
}
