.main-navigation__list {
  @include clean-list;
  @include clean-text;
  width: 100%;
  margin: 0;
  padding: 0;
  list-style: none;
  position: relative;
  flex-wrap: wrap;
  justify-content: flex-end;
  gap: 10px 33px;
  display: flex;

  @media (max-width: $mobile) {
    padding-top: 0;
  }

  @media (min-width: $tablet) {
    padding-top: 0;
  }

  @media (min-width: $desktop) {
    padding-top: 8px;
  }
}

.main-navigation__toggle {
  position: absolute;
  top: 10px;
  right: 20px;
  z-index: 10;
  width: 24px;
  height: 24px;
  border: 0;
  background-color: transparent;
  background-image: url("../../icons/menu.svg");
  background-repeat: no-repeat;
  background-position: center;
  cursor: pointer;

  @media (min-width: $tablet) {
    display: none;
  }
}

.main-navigation__toggle:hover {
  opacity: 0.7;
}

.main-navigation__toggle--opened:hover {
  opacity: 0.7;
}

.main-navigation__toggle.main-navigation__toggle--opened {
  background-image: url("../../icons/close.svg");
}

.main-navigation__wrapper {
  @media (min-width: $tablet) {
    min-width: 460px;
  }

  @media (max-width: $mobile) {
    display: none;
  }
}

.main-navigation {
  @media (min-width: $tablet) {
    width: 65%;
  }

  @media (min-width: $desktop) {
    width: 50%;
  }
}
