.main-footer {
  background-color: $secondary-background-color;

  @media (max-width: calc($tablet - 1px)) {
    padding: 0 20px;
    min-height: 240px;
  }

  @media (min-width: $tablet) {
    padding: 55px 30px;
  }

  @media (min-width: $desktop) {
    padding: 66px 104px;
  }
}

.main-footer__socials {
  @include clean-list;
  display: flex;
  gap: 26px;
  justify-content: center;
  flex-wrap: wrap;
  margin: 0;

  @media (max-width: calc($tablet - 1px)) {
    margin-bottom: 20px;
    padding: 20px 0;
    border-top: 1px solid #d9d9d9;
    border-bottom: 1px solid #d9d9d9;
  }

  @media (min-width: $tablet) {
    width: 50%;
    margin-left: 25px;
  }

  @media (min-width: $desktop) {
    margin-left: 0;
  }
}

.main-footer__container {
  @media (min-width: $tablet) {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    min-width: 708px;
  }

  @media (min-width: $desktop) {
    width: 1220px;
    margin: 0 auto;
  }
}

.main-footer__logo-html {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo-html__text {
  margin: 0;
  padding: 0;
  padding-right: 23px;
}
