.more-catalog__title {
  @include secondary-font(20px, 24px);
  color: $second-color-text;
  text-align: center;
  width: 85%;
  margin: 0 15px;

  @media (max-width: $mobile) {
    width: 88%;
    font-size: 16px;
  }

  @media (min-width: $tablet) {
    width: 71%;
    padding-left: 40px;
  }

  @media (min-width: $desktop) {
    width: 85%;
    padding-left: 0;
  }
}

.more-catalog__button {
  color: #444444;
  border: none;
  width: 100%;
}

.more-catalog__info {
  font-size: 16px;
  line-height: 18px;
  margin-bottom: 100px;

  @media (max-width: $mobile) {
    margin-bottom: 20px;
    font-size: 12px;
    margin-top: 5px;
  }

  @media (min-width: $tablet) {
    width: 85%;
    margin-top: 21px;
    margin-bottom: 84px;
    padding-left: 35px;
    font-size: 16px;
    line-height: 18px;
  }

  @media (min-width: $desktop) {
    margin-bottom: 92px;
    margin-top: 27px;
    width: 100%;
    padding-left: 0;
  }
}


.more-catalog__title::before {
  content: "";
  display: block;
  height: 60px;
  margin-bottom: 41px;
  background: url("../../icons/stack.svg#more");

  @media (max-width: $mobile) {
    height: 30px;
    margin-bottom: 23px;
  }

  @media (min-width: $tablet) {
    height: 70px;
    margin-bottom: 45px;
  }

  @media (min-width: $desktop) {
    height: 60px;
    margin-bottom: 38px;
  }
}

.more-catalog {
  text-align: center;
  padding: 131px 37px 40px;
  box-shadow: inset 0 0 0 2px #f2f2f2;

  @media (max-width: $mobile) {
    padding: 17px 0 15px;
    box-shadow: inset 0 0 0 0 #f2f2f2;
  }
}
