.promo-gift {
  background-image: linear-gradient(rgba(104, 183, 56, 0.85) 99%, #ffffff 1%), image-set("../images/promo-info-background_tablet@1x.jpg" 1x type("image/jpg"), "../images/promo-info-background@2x.jpg" 2x type("image/jpg"));
  background-position: top;
  background-repeat: no-repeat;
  background-size: cover;


  @media (min-width: $tablet) {
    min-width: 707px;
    min-height: 200px;
    width: 100%;
    background-image: linear-gradient(rgba(104, 183, 56, 0.85) 99%, #ffffff 1%), image-set("../images/catalog-background-tablet@1x.jpg" 1x type("image/jpg"), "../images/promo-info-background@2x.jpg" 2x type("image/jpg"));
  }

  @media (min-width: $desktop) {
    width: 245px;
    min-width: 100px;
    min-height: 100px;
    max-height: 285px;
    margin-top: 18px;
    background-image: linear-gradient(rgba(104, 183, 56, 0.85) 99%, #ffffff 1%), image-set("../images/promo-info-background_tablet@1x.jpg" 1x type("image/jpg"), "../images/promo-info-background@2x.jpg" 2x type("image/jpg"));
  }

  @media (max-width: $mobile) {
    margin: 20px;
    padding: 46px 50px 30px;
  }
}


.promo-gift__info::before {
  content: "";
  background: url("../../icons/stack.svg#gift") 50% no-repeat;
  width: 78px;
  height: 80px;
  margin: 0 auto 50px;
  display: block;

  @media (min-width: $tablet) {
    margin: 58px 38px 21px 80px;
  }

  @media (min-width: $desktop) {
    width: 78px;
    height: 89px;
    margin: 11px 30px 20px 80px;
    padding: 28px 41px 29px 47px;
    display: block;
  }
}

.promo-gift__info {
  color: #ffffff;
  text-align: center;

  @media (min-width: $tablet) {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    text-align: left;
  }

  @media (min-width: $desktop) {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    text-align: center;
  }
}

.promo-gift__text {
  @media (min-width: $tablet) {
    color: #ffffff;
    width: 170px;
    margin-left: auto;
    margin-right: 115px;
    font-size: 16px;
    line-height: 20px;
    height: 10px;
  }

  @media (max-width: $mobile) {
    text-align: center;
    color: #ffffff;
    max-width: 180px;
    margin: 0 auto;
    font-size: 16px;
    line-height: 20px;
    display: block;
  }

  @media (min-width: $desktop) {
    width: 170px;
    margin-top: 150px;
    margin-left: -64%;
    margin-right: 0;
    padding-top: 18px;
  }
}
