.statistics__index {
  @include secondary-font(24px, 24px, uppercase);
  color: $second-color-text;
  margin: 0;
  text-align: center;
  box-sizing: border-box;
  border: 1px solid #cdcdcd;
  border-radius: 3px;
  padding: 14px 15px;

  @media (max-width: $mobile) {
    width: 124px;
    min-height: 56px;
  }

  @media (min-width: $tablet) {
    width: 162px;
    min-height: 72px;
    font-size: 30px;
    line-height: 36px;
  }
}

.statistics__description {
  font-size: 14px;
  line-height: 18px;
  color: $any-color-text;
  position: relative;
  text-align: center;
  margin: 0;
  margin-left: 15px;
  margin-right: 15px;


  @media (max-width: $mobile) {
    top: -9px;
    background-color: #eaeaea;
    width: min-content;
    padding: 0 20px;
    font-size: 12px;
    line-height: 12px;
  }

  @media (min-width: $tablet) {
    top: -8px;
    background-color: #ffffff;
    width: auto;
  }

  @media (min-width: $desktop) {
    top: -11px;
    background-color: #eaeaea;
  }
}
